Resources/config/schema/mailchimp-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns="http://symfony.com/schema/dic/mz_mailchimp"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://symfony.com/schema/dic/mz_mailchimp"
    elementFormDefault="qualified">

    <xsd:element name="config" type="config" />

    <xsd:complexType name="config">
        <xsd:attribute name="api_key" type="xsd:string" />
        <xsd:attribute name="default_list" type="xsd:string" />
        <xsd:attribute name="ssl" type="xsd:boolean" />
    </xsd:complexType>

</xsd:schema>
